.btn {
  cursor: pointer;
  color: var(--color);

  &:hover {
    background-color: var(--bg-hover);
  }

  &:active {
    background-color: var(--bg-active);
  }

  &:focus {
    background-color: var(--bg-focus);
  }
}

.primary {
  color: var(--color);
}