// глобальные переменные для стилизации (в основном размеры)
:root {
  --main-font-family: 'Roboto', Arial, Helvetica, sans-serif;

  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-weight-900: 900;

  --font-size-n: 12px;
  --font-line-n: 20px;

  --font-n-300: var(--font-weight-300) var(--font-size-n)/var(--font-line-n) var(--main-font-family);
  --font-n-400: var(--font-weight-400) var(--font-size-n)/var(--font-line-n) var(--main-font-family);
  --font-n-700: var(--font-weight-700) var(--font-size-n)/var(--font-line-n) var(--main-font-family);
  --font-n-900: var(--font-weight-900) var(--font-size-n)/var(--font-line-n) var(--main-font-family);

  --font-size-m: 16px;
  --font-line-m: 24px;

  --font-m-300: var(--font-weight-300) var(--font-size-m)/var(--font-line-m) var(--main-font-family);
  --font-m-400: var(--font-weight-400) var(--font-size-m)/var(--font-line-m) var(--main-font-family);
  --font-m-700: var(--font-weight-700) var(--font-size-m)/var(--font-line-m) var(--main-font-family);
  --font-m-900: var(--font-weight-900) var(--font-size-m)/var(--font-line-m) var(--main-font-family);

  --font-size-l: 24px;
  --font-line-l: 32px;

  --font-l-300: var(--font-weight-300) var(--font-size-l)/var(--font-line-l) var(--main-font-family);
  --font-l-400: var(--font-weight-400) var(--font-size-l)/var(--font-line-l) var(--main-font-family);
  --font-l-700: var(--font-weight-700) var(--font-size-l)/var(--font-line-l) var(--main-font-family);
  --font-l-900: var(--font-weight-900) var(--font-size-l)/var(--font-line-l) var(--main-font-family);

  --font-size-k: 32px;
  --font-line-k: 40px;

  --font-k-300: var(--font-weight-300) var(--font-size-k)/var(--font-line-k) var(--main-font-family);
  --font-k-400: var(--font-weight-400) var(--font-size-k)/var(--font-line-k) var(--main-font-family);
  --font-k-700: var(--font-weight-700) var(--font-size-k)/var(--font-line-k) var(--main-font-family);
  --font-k-900: var(--font-weight-900) var(--font-size-k)/var(--font-line-k) var(--main-font-family);

  --font-size-j: 40px;
  --font-line-j: 48px;

  --font-j-300: var(--font-weight-300) var(--font-size-j)/var(--font-line-j) var(--main-font-family);
  --font-j-400: var(--font-weight-400) var(--font-size-j)/var(--font-line-j) var(--main-font-family);
  --font-j-700: var(--font-weight-700) var(--font-size-j)/var(--font-line-j) var(--main-font-family);
  --font-j-900: var(--font-weight-900) var(--font-size-j)/var(--font-line-j) var(--main-font-family);

  --border-radius: 10px;
}