.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.dropdown {
  padding: 10px;
  width: 100%;
  max-width: 200px;
  position: absolute;
  background-color: var(--bg-dropdown);
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
}