.aside {
  padding: 20px;
  max-width: 240px;
  width: 100%;
  border-right: 1px solid var(--border-color);
  background: var(--bg-color-main);
  font: var(--font-m-700);
  transition: background-color 1s ease-in-out;

  @media(max-width: 650px) {
    display: none;
  }
}

.asideShrink {
  padding: 20px 5px;
  background: none;
  font: var(--font-n-700);
  transition: background-color 1s ease-in-out;

  @media(max-width: 650px) {
    display: none;
  }
}

.active {
  background: var(--bg-active);
}

.item {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius);

  &:hover {
    background: var(--secondary-color);
  }
}

.item:not(:last-child) {
  margin-bottom: 20px;
}


.shrinkedItem {
  padding: 5px;
  border-radius: var(--border-radius);

  &:hover {
    background: var(--secondary-color);
  }
}

.shrinkedItem:not(:last-child) {
  margin-bottom: 10px;
}


.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shrinkedLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon {
  margin-right: 20px;
}

.iconShrinked {
  margin: 0;
}

.nav {
  margin-bottom: 30px;

  @media(max-width: 650px) {
    display: none;
  }
}

.separator {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);

  @media(max-width: 650px) {
    display: none;
  }
}

.btn {
  padding: 5px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--font-n-700);
  background: var(--bg-active);
  border-radius: var(--border-radius);

  &:hover {
    background: var(--secondary-color);
  }

  @media(max-width: 650px) {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topMenu {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger {
  padding: 10px;
  margin-right: 10px;
  border-radius: var(--border-radius);

  &:hover {
    background: var(--secondary-color);
  }

  &:active {
    background: var(--bg-active);
  }
}

