.musicItem {
  max-width: 460px;
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &:hover .btnControlContainer {
    visibility: visible;
    opacity: 1;
  }

  &:hover .likeBtn {
    visibility: visible;
    opacity: 1;
  }
}

.activeItem {
  background-color: var(--bg-hover);
}

.musicItem:not(:last-child) {
  margin-bottom: 30px;
}

.posterContainer {
  margin-right: 20px;
  position: relative;
}

.poster {
  width: 58px;
  height: 58px;
  object-fit: cover;
}

.btnControlContainer {
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-hover-dark);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.activeBtnControlContainer {
  visibility: visible;
  opacity: 1;
}

.info {
  margin-right: 20px;
}

.musicName {
  font: var(--font-m-700);
}

.musicianName {
  font: var(--font-n-700);
  color: var(--secondary-color);
}

.likeBtn {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
