.button {
  width: 25px;
  height: 25px;
  cursor: pointer;
 
  &:hover {
    background-color: var(--bg-hover);
  }

  &:active {
    background-color: var(--bg-active);
  }

  &:focus {
    background-color: var(--bg-focus);
  }
}

.svg {
  fill: var(--color);
}