.dropdown {
  padding: 10px;
}

.userInfoWrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font: var(--font-m-900);
}

.listItem {
  padding: 10px;
  border-radius: var(--border-radius);
 
  &:hover {
    background-color: var(--bg-items);
  }

  &:active {
    background-color: var(--bg-active);
  }

  &:focus {
    background-color: var(--bg-focus);
  } 
}

.link {
  display: flex;
  align-items: center;
}

.listItem:not(:last-child) {
  margin-bottom: 10px;
}

.icon {
  margin-right: 20px;
}