.wrapper {
  height: 4px;
  cursor: pointer;
  &:hover {
    background-color: #fff;
  }

  &:hover .timeline {
    background-color: #f50000;
  }
}

.timeline {
  height: 100%;
  background-color: #ac1b11;
}