//глобальные настройки стилизации темной  темы
:root {
  --bg-color-main: #030303;
  --bg-color-container: linear-gradient(315deg, #030303 90%, #06273c 100%);
  --color: #ffffff;
  --secondary-color: #909090;
  --border-color:  rgba(255, 255, 255, 0.15);
  --border-color-light:  rgba(255, 255, 255, 0.7);
  --bg-items: rgba(255, 255, 255, 0.2);
  --bg-items-light: rgba(255, 255, 255, 0.7);
  --bg-active: rgba(255, 255, 255, 0.1);
  --bg-focus: rgba(255, 255, 255, 0.3);
  --bg-hover: rgba(255, 255, 255, 0.2);
  --bg-hover-dark: rgba(0, 0, 0, 0.6);
  --bg-dropdown: rgb(48, 46, 46);
}
