.aside {
  padding: 20px;
  max-width: 240px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-right: 1px solid var(--border-color);
  background: var(--bg-color-main);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  font: var(--font-m-700);
  @media(min-width: 650px) {
    display: none;
  }
}

.open {
  transform: translateX(0);
  opacity: 1;
}

.close {
  transform: translateX(-100%);
  opacity: 0;
}

.active {
  background: var(--bg-active);
}

.item {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius);

  &:hover {
    background: var(--secondary-color);
  }
}

.item:not(:last-child) {
  margin-bottom: 20px;
}


.shrinkedItem {
  padding: 5px;
  border-radius: var(--border-radius);

  &:hover {
    background: var(--secondary-color);
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 20px;
}

.nav {
  margin-bottom: 30px;
}

.separator {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}

.btn {
  padding: 5px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--font-n-700);
  background: var(--bg-active);
  border-radius: var(--border-radius);

  &:hover {
    background: var(--secondary-color);
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topMenu {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger {
  margin-right: 10px;
  cursor: pointer;
}


