.warapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
} 

.player {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-items);
}

.playerState {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control {
  margin-right: 20px;
}