$count: 15; //колличество рандомных цветов

.wrapper {
  margin-bottom: 30px;
}

.title {
  margin-bottom: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.link {
  padding: 5px;
  width: 220px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border-color);
  text-align: center;
  border-radius: var(--border-radius);
 
  &:hover {
    background-color: var(--bg-hover);
  }

  &:active {
    background-color: var(--bg-active);
  }

  &:focus {
    background-color: var(--bg-focus);
  }

 
}


@for $i from 1 through $count {
  .item {
    &:nth-child(#{$i})::after {
      z-index: -1;
      background-color: rgb(random(255),random(255),random(255));
    }
  }
}

