.input {
  padding: 5px;
  height: 50px;
  color: var(--color);
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  font: var(--font-m-400);

  &:hover {
    background-color: var(--bg-items);
  }

  &:active {
    background-color: var(--bg-active);
  }

  &:focus {
    background-color: var(--bg-focus);
  }
}
