.form {
  width: 100%;
  max-width: 450px;
}

.title {
  margin-bottom: 30px;
  font: var(--font-k-700);
}

.inputContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
}

.btn {
  padding: 15px 40px;
  margin-bottom: 10px;
  background-color: var(--bg-active);
  border-radius: var(--border-radius);
  font: var(--font-m-400);
}

.linkRegister {
  color: var(--bg-items-light);
  border-bottom: 3px solid var(--border-color);
  cursor: pointer;

  &:hover {
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
  }

  &:active {
    color: var(--bg-active);
    border-bottom: 2px solid var(--bg-active);
  }
}
