// главный файл стилей
@import './reset';
@import './fonts/fonts';
@import './variables/global';
@import './theme/dark';

body {
  position: relative;
  font: var(--font-m-400);
  color: var(--color);
  background: var(--bg-color-container);
}

.container {
  position: relative;
  display: flex;
}

.main {
  width: 100%;
}

.layout {
  padding: 30px 10px;
  margin: 0 auto;
  max-width: 1360px;
  min-height: 100vh;
}

h1 {
  font: var(--font-j-700);
}

h2 {
  font: var(--font-k-700);
}

h3 {
  font: var(--font-l-700);
}

h4 {
  font: var(--font-m-700);
}

img {
  max-width: 100%;
}
