// сброс стандартных настроек
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration:  none;
}

button {
  background: none;
  border: none;
}

input {
  background: none;
  border: none;
  outline: none;
}

.h1, h2, h3, h4 {
  margin: 0;
}

