.header {
  padding: 10px 0;
  min-height: 65px;
  color: var(--color);
  border-bottom: 1px solid var(--border-color);
}

.container {
  margin: 0 auto;
  max-width: 1360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topMenu {
  display: none;

  @media(max-width: 650px) {
    display: flex;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  margin-right: 5px;
}

.logo {
  display: flex;
}

.logoName {
  margin-right: 5px;
}

.icon {
  margin-right: 5px;
}



.enterBtn {
  padding: 10px;
  border-radius: var(--border-radius);
  font: var(--font-m-400);
  &:hover {
    background: var(--secondary-color);
  }

  &:active {
    background: var(--bg-active);
  }
}

.dropdown {
  top: 0;
  left: 0;
}

.dropdownWrapper {
  position: relative;
}
